*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

ul{
    float: right;
    margin-right: 20px;
}

li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active, a:hover{
    
    transition: .5s; 
}

.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width : 952px) {
    label.library{
        font-size: 30px;
        padding-left: 50px;
    }
    a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a{
        font-size: 16px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
}

#check:checked ~ ul{
    left : 0;
}

body{
   /* background-image: url('https://images.shiksha.com/mediadata/images/1539151319phpNoYcZb.png');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #2c3e50;
}
